
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import "./../styles/reset.scss";
@import "./../styles/mixins/contentCenterFlex.scss";
@import "./../styles/mixins/defauldSizesToastify.scss";
@import "./../styles/mixins/toastContainer.scss";
@import "./../styles/mixins/toastPosition.scss";
@import "./../styles/mixins/toastifyAnimation.scss";
@import "./../styles/mixins/toast.scss";
.toastify-container {
  @include toastConteiner;

  .toastify-day {
    @include toast(#ffff, black);
  }
  .toastify-night {
    @include toast(black, #fff);
  }
  .show-toastify {
    opacity: 1;
  }
}
.toast-top-center {
  @include toastPosition(center);
  @include toastifyAnimation(translate(0, -100px));
  .toastify-leave-active {
    position: absolute;
  }
}
.toast-top-left {
  @include toastPosition(start);
  @include toastifyAnimation(translate(-100px, 0));
  .toastify-leave-active {
    position: absolute;
  }
}
.toast-top-right {
  @include toastPosition(end);
  @include toastifyAnimation(translate(100px, 0));
  .toastify-leave-active {
    position: absolute;
  }
}
.toast-bottom-right {
  @include toastPosition(end);
  justify-content: end;
  @include toastifyAnimation(translate(100px, 0));
  .toastify-day,
  .toastify-night {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.toast-bottom-left {
  @include toastPosition(start);
  justify-content: end;
  @include toastifyAnimation(translate(-100px, 0));
  .toastify-day,
  .toastify-night {
    &:last-child {
      margin-bottom: 0;
    }
  }
}